*, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0
}

.body{
    /*font-family: 'Abel', sans-serif;
    font-family: 'Parisienne', cursive; */
    font-family: 'Rajdhani', sans-serif; 
}
/*html{
    scroll-behavior: smooth;
}*/



/*---------------header section----------------------*/

.header {
    position: relative;
}

.header .wavy-block {
    position: absolute;
    z-index: -1;
}

.header .wavy-block stop:nth-child(1){
    stop-color: #C02425;
}
.header .wavy-block stop:nth-child(2){
    stop-color: #d6f104;
}

.header .lower-header {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

.header .lower-header .left-elements .logo img{
    height: 120px; 
    width: 200px;
}

.header .lower-header .right-elements .menu-list li{
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}



/*-----------Booking Button -------*/

.header .right-elements .col-12 .btn .btn-book-now button{
    font-family: 'Parisienne', cursive;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    max-width: 33vw;
    margin: 50px auto;
    color: #fff;
}