*, p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

body {
    /*font-family: 'Abel', sans-serif;
    font-family: 'Parisienne', cursive; */
    font-family: 'Rajdhani', sans-serif; 
}

html {
    scroll-behavior: smooth;
}
/*---------------header section----------------------*/

.header {
    position: relative;
}

.header .wavy-block {
    position: fixed;
    z-index: -1;
}


.header .wavy-block stop:nth-child(1) {
    stop-color: #C02425;
}
.header .wavy-block stop:nth-child(2) {
    stop-color: #d6f104;
}

.header .lower-header {
    box-sizing: border-box;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease ease-in-out;
}

.header .lower-header.fixed {
    position: fixed;
    width: 100%;
    background: none;
    /*--background: linear-gradient(184deg, rgba(207,2,2,1) 0%, rgba(214,241,4,0.8113620448179272) 100%);--*/
    height: 100px;
}

.header .lower-header .right-blocks .menu-list li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;

}

.header .lower-header .right-blocks .menu-list li a {
    text-decoration: none;
    color: #fff;
    text-shadow:0 1px #777373;
}


.header .lower-header .left-blocks{
    transition: all 0.5s ease-in-out;
}

.header .lower-header .left-blocks .logo a {
    text-decoration: none;
    font-family: 'Parisienne', cursive;
    font-size: 50px;
    color: #fff;
    font-weight: 500;  
}

.header .lower-header .left-blocks .logo img {
    height: 100px; 
    width: 180px;
}
/*--------------lead Section--------------*/
.lead {
    display: flex;
    box-sizing: border-box;
    padding: 0 100px;
    align-items: center;
}
 
.lead .leader-right {
    width: 500px;
    
}

.lead .leader-right img {
    width: 500px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.lead .leader-right img:hover {
    transform: scale(1.05, 1.05);
}

.lead .leader-left .leader span {
    font-size: 6vw;
    font-weight: 800;
    display: inline-block;
    /*color: #000;*/
    margin: 0 2px;
    background: rgb(207,2,2);
    background: linear-gradient(184deg, rgba(207,2,2,1) 0%, rgba(214,241,4,0.8113620448179272) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.lead .leader-left .leader span:hover {
    transform: scaleY(1.30);
}

/*--------collapsible menu section-------*/

.hamburger-menu {
    width: 20px;
    display: none;
    position: relative;
    cursor: pointer;
}
.hamburger-menu .line {
    height: 2px;
    width: 20px;
    background: #fff;
    margin: 2px;
    transition: all 0.2s ease-in-out;
}

.hamburger-menu.active .line {
    position: absolute;

}

.hamburger-menu.active .line:nth-child(2) {
    display: none;
}

.hamburger-menu.active .line:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger-menu.active .line:nth-child(3) {
    transform: rotate(-45deg);
}
/*----------Contact Team-------*/
.contact{
    padding: 100px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background: #eeeddd;
}

.contact .contact-img{
    width: 500px;
}

.contact .contact-img img{
    width: 500px;
}
/*------Meet Team-------------*/

.about{
    padding: 100px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background: #cdcdd4;
}

.about .team-img {
    width: 500px;
}

.about .team-img img {
    width: 500px;
}

/*------Service section-------*/

.service {
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
}
.service h1 {
font-size: 40px;
}

.services-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-groups services {
    width: 200px;
    margin: 10px 20px;
    
}

.services-groups services img {
    width: 200px;
    
}

.slide-container {
    padding: 100px;
    background: #eee123;
    text-align: center;

}

.mySlides .fa-quote-left {
    font-size: 50px;
}

.mySlides .author {
    font-size: 15px;
    font-weight: 800;
}




/*-------media query--------*/
@media screen and (max-width: 1000px) {
    
    .lead .leader-right {
        width: 300px;
    }
    
    .lead .leader-right img {
        width: 300px;
    }


    .contact .contact-img {
        width: 300px;
    }
    
    .contact .contact-img img {
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    
    .lower-header .right-blocks {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }

}
    .lower-header .left-blocks {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .lead {
        flex-direction: column;
        padding: 100px; 
    }
/*--------sub-header--------*/
    
    .lower-header.active {
        flex-direction: column;
        padding: 0;
    }

    .lower-header.active .left-blocks {
        background: #C02425;
        position: fixed;
        height: 50px;
        top: 0;
        padding: 0 100px;
        box-sizing: border-box;
    }


    .lower-header.active .right-blocks {
    display: block;
    position: fixed;
    bottom: 0;
    background: #C02425;
    width: 100%;
    height: calc(100% - 50px);
    }

    .lower-header.active .right-blocks .menu-list li {
        display: block;
        text-align: center;
        margin: 10px 0;

    }

    .contact{
        flex-direction: column;
    }


/*---------footer section-------*/

    .footer .bottom-list {
        display: inline-flex;
        list-style: none;
        padding: 0 10px;
    }

    .footer-links {
        min-height: 70px;
        text-align: center;
        padding-top: 25px;
    }
    
    .footer a {
        text-decoration: none;
        color: #fd7709;
        font-family: 'Parisienne', cursive;
        font-weight: 600;
    }
    
    .footer-social-links i {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 24px;
    }
    

/*-----------Booking Button -------*/

/*.header .right-blocks .col-12 .btn .btn-book-now button*/